html {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  line-height: 1.2;
}

#app {
  margin: 0 auto;
  max-width: 27rem;
  width: 92%;
}

.app-title {
  font-weight: 400;
  margin: 2rem 0 4rem;
}

.save {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.output-wrap {
  position: relative;
}

.fade {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  height: 2rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.output {
  height: 50vh;
  overflow-y: scroll;
}

.interactive {
  cursor: pointer;
  text-decoration: underline;
}

.wait-indicator {
  color: gray;
}

.hide {
  display: none;
}
